[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=QuickYellow
X-Python-2-Compatible=false
Name=QuickYellow
Comment=A plugin that swaps the foreground color to color 6 from a specific palette