[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=QuickRed
X-Python-2-Compatible=false
Name=QuickRed
Comment=A plugin that swaps the foreground color to color 5 from a specific palette