[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=QuickWhite
X-Python-2-Compatible=false
Name=QuickWhite
Comment=A plugin that swaps the foreground color to color 0 from a specific palette