[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=QuickBlue
X-Python-2-Compatible=false
Name=QuickBlue
Comment=A plugin that swaps the foreground color to color 4 from a specific palette
